<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutChangesToGlobalState="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Models">
            <!-- <file>tests/models/ipam/testPrefixes.php</file> -->
            <!-- <file>tests/models/ipam/testRirs.php</file> -->
            <file>tests/models/ipam/testIpAddresses.php</file>
        </testsuite>
    </testsuites>
</phpunit>
